# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
# end_of_line = lf
end_of_line = crlf # {padrao}
charset = utf-8
trim_trailing_whitespace = true #serve para tirar espacos em branco do fim da linha.
insert_final_newline = true # serve para add uma nova linha apos a ultima do seu código

